.calculator > p {
  display: block;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.calculator {
  padding: 1em;
}

.calculate-message {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.disclaimer {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
